<!-- <!DOCTYPE html>
<html lang="en">
  <section id="navbar" class="nav-full">
    <a href="#landing">Home</a>
    <a href="#info">Info</a>
    <a href="#give">Give</a>
    <a href="#subscribe">Subscribe</a>
  </section>

  <div class="clickthis">
    <h1 id="vanishingText">Magic scrolling colours</h1>
    <p>
      Scroll to animate the background colour of the body as a full height panel
      becomes visible.
    </p>
    <p>
      I have tried to comment the code, particurly the JavaScript, as much as
      possible. I hope it's clear to understand.
    </p>
  </div>
</html> -->
