<!DOCTYPE html>
<html lang="en">

  <style type="text/css">
    @import url("https://assets.mlcdn.com/fonts.css?version=1748530");
  </style>
  <link rel="stylesheet" type="text/css" href="../styles/mailform.css" media="screen" />

  <div
    id="mlb2-26754007"
    class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-26754007"
  >
    <div class="ml-form-align-center">
      <div class="ml-form-embedWrapper embedForm">
        <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
          <div class="ml-form-embedContent">
            <h4>Join my email list</h4>
            <p>
              I'm planning on sending semi-regular updates to my&nbsp;supporters
              and anyone interested—&nbsp;you'll be able to unsubscribe directly
              from the emails at any time.
            </p>
          </div>

          <form
            class="ml-block-form"
            action="https://assets.mailerlite.com/jsonp/1544845/forms/156150849838515879/subscribe"
            data-code=""
            method="post"
            target="_blank"
          >
            <div class="ml-form-formContent">
              <div class="ml-form-fieldRow ml-last-item">
                <div
                  class="ml-field-group ml-field-email ml-validate-email ml-validate-required"
                >
                  <input
                    aria-label="email"
                    aria-required="true"
                    type="email"
                    class="form-control"
                    data-inputmask=""
                    name="fields[email]"
                    placeholder="Enter your email..."
                    autocomplete="email"
                  />
                </div>
              </div>
            </div>

            <input type="hidden" name="ml-submit" value="1" />

            <div class="ml-form-embedSubmit">
              <button type="submit" class="primary">Subscribe</button>

              <button
                disabled="disabled"
                style="display: none"
                type="button"
                class="loading"
              >
                <div class="ml-form-embedSubmitLoad"></div>
                <span class="sr-only">Loading...</span>
              </button>
            </div>

            <input type="hidden" name="anticsrf" value="true" />
          </form>
        </div>

        <div class="ml-form-successBody row-success" style="display: none">
          <div class="ml-form-successContent">
            <h4>Thanks</h4>
            <p>You've been successfully added. Look for my emails!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function ml_webform_success_26754007() {
      var $ = ml_jQuery || jQuery;
      $(".ml-subscribe-form-26754007 .row-success").show();
      $(".ml-subscribe-form-26754007 .row-form").hide();
    }
  </script>

  <script
    src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024"
    type="text/javascript"
  ></script>
  <script>
    fetch(
      "https://assets.mailerlite.com/jsonp/1544845/forms/156150849838515879/takel"
    );
  </script>
</html>
