/* Setting fade transition and default settings */
body {
  margin: 0;
  color: #000;
  background-color: #d9d9d9;
  transition: background-color 500ms ease;
  font-family: "lato", sans-serif;
}

/* general styles */
body {
  text-align: center;
  line-height: 1.5;
}

section > * {
  max-width: 30em;
  margin: auto 10px;
}
h1, h2 {
  font-weight: 300;
}
h1 {
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1.1;
  transition: all 0.3s;
}
h2 {
  font-size: 1.8em;
  margin: 0
}
p {
  margin-bottom: 1.5em;
}

a {
  color: midnightblue;
}

/* navbar */
nav {
  height: 25vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  transition: all 0.2s;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5vw;
}

nav a {
  text-decoration: none;
  color: #335662;
  font-size: 1.2em;
  padding: 0 5px;
}

.nav-full {
  height: 25vh;
}

.nav-diminished {
  height: 10vh;
  z-index: 99;
  background-color: #e9e9e9;
}

.active-navlink {
  font-weight: 300;
  opacity: 0.8;
}

/*  */
#landing-img {
  z-index: -1;
  position: fixed;
  left: 0;
  max-height: 100%;
  opacity: 0.4;
}

#loading-screen {
  z-index: 200;
  background-color: #d9d9d9;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

/* navigation arrows */

.dbl-arrow {
  width: 3em;
  margin: 2em;
}

.dbl-arrow:hover {
  scale: 1.1;
}

.invisible {
  visibility: hidden;
}

/* nav for mobile */
@media (max-width: 500px) {
  nav div {
    width: 25vw;
    padding: 0;
  }

  nav a {
    font-size: 1.05em;
    margin: auto 0;
    min-width: 16vw;
  }

  .active-navlink {
    opacity: 1;
    border-bottom: 1px solid;
  }

  .nav-full {
    height: 20vh;
  }
}
