.at-landing {
  background-color: #d9d9d9;
}
.at-info {
  background-color: #adbb86;
}
.at-give {
  background-color: #c9c953;
}
.at-subscribe {
  background-color: #d86947;
}

.panel {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* landing */
#landing {
  padding-top: 20vh;
  min-height: 80vh;
}

#name-heading {
  margin-top: 0;
  font-size: 2.5em;
}

#down-arrow {
  width: 3em;
  margin-top: 2em;
}

#down-arrow:hover {
  opacity: .8;
}

/*  */
.panel:not(#landing) {
  padding-top: 5vh;
}

#info, #give {
  padding-bottom: 15vh
}

#subscribe {
  min-height: auto;
  padding-bottom: 25vh;

}
