.at-landing {
  background-color: #d9d9d9;
}
.at-info {
  background-color: #a0a88c;
}
.at-give {
  background-color: #c9c953;
}
.at-follow {
  background-color: #d86947;
}

.panel {
  padding-top: 20vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.panel:not(#landing) {
  padding-bottom: 10vh;
}

/* landing */
#landing {
  min-height: 80vh;
}

#name-heading {
  margin: 0;
  margin-bottom: 2vh;
  font-size: 2.5em;
}

#landing-icon {
  width: 200px;
  margin: 0;
}

/* info */

#profile-pic {
  width: 20vw;
  max-width: 200px;
  margin: .5em;
  float: right;
}

/* give */
#give {
}

/* follow */

#follow {
  padding-top: 10vh;
  min-height: 80vh;
}

