.at-landing {
  background-color: #d9d9d9;
}
.at-info {
  background-color: #aab0b2;
}
.at-give {
  background-color: #d7b067;
}
.at-follow {
  background-color: #ce6f52;
}

.panel {
  min-height: 70vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* landing */
#landing {
  padding-top: 20vh;
}

#name-heading {
  margin: 0;
  margin-bottom: 2vh;
}

#landing-icon {
  width: 200px;
  margin: 0;
}

#landing p {
  font-size: 1.2em;
}

/* info */

#profile-pic {
  width: 150px;
  max-width: 175px;
  min-width: 140px;
  margin: .5em;
  float: right;
}

/* give */

#give-btn {
  background-color: #414124;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: #fff;
  height: auto;
  font-size: 1.1em;
  text-decoration: none;
  padding: .5em 2.5em;
  font-weight: 500; 
}

/* follow */

#follow {
  padding-bottom: 25vh;
}

#up-arrow {
  transform: translateY(100%);
}

#up-arrow * {
  margin: 0;
}

#up-arrow p {
  font-size: .9em;
}