/* Setting fade transition and default settings */
body {
  margin: 0;
  color: #000;
  background-color: #e9e9e9;
  transition: background-color 0.8s ease;
  font-family: "lato", sans-serif;
}

/* styling for demo, can ignore */
body {
  text-align: center;
  font-size: 120%;
  line-height: 1.5;
}

h1,
h2 {
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1.1;
  transition: all .3s;
}
p {
  max-width: 30em;
  margin-bottom: 1.618em;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: #e9e9e9;
  transition: all .15s;
}

nav > div {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  color: #335662;
  font-size: 1.2em;
  padding: 0 1em;
}

.nav-full {
  height: 25vh;
}

.nav-diminished {
  height: 10vh;
}

.active-navlink {
  font-weight: 300;
  opacity: 0.8;
}

.invisible {
  opacity: 0;
}